body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 60px;
}

h1 {
  margin: 0;
}

#players-per-area-wrap {
  width: 100%;
}

@media (max-width: 400px) {
  body {
    padding: 10px;
  }
}

@media (min-width: 1000px) {
  section.row-40-60 > div:nth-child(1) {
    width: 39%;
  }

  section.row-40-60 > div:nth-child(2) {
    width: 59%;
  }

  section > div {
    display: inline-block;
    vertical-align: top;
  }
}
